# Terraform
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
terraform.tfplan

# Ansible
*.retry
ansible.log

# Secrets y claves
*.pem
*.key
.env
secrets/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
