[Unit]
Description=Grafana Agent
Documentation=https://grafana.com/docs/agent/
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=monitoring
Group=monitoring
Type=simple
Restart=on-failure
RestartSec=5s

ExecStart=/usr/local/bin/grafana-agent \
  --config.file=/etc/grafana-agent/grafana-agent.yml \
  --metrics.wal-directory=/var/lib/monitoring/wal \
  --server.http.address=0.0.0.0:{{ grafana_agent_port | default(12345) }}

LimitNOFILE=1000000
LimitNPROC=1000000

Environment=HOME=/var/lib/monitoring
WorkingDirectory=/var/lib/monitoring

StandardOutput=journal
StandardError=journal
SyslogIdentifier=grafana-agent

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/var/lib/monitoring

[Install]
WantedBy=multi-user.target